*.class
*.log
*.bsp


**/target/*
*.iml
*.ipr
*.iws
*/.DS_Store
.idea
spark-warehouse
## Directory-based project format:
*/.idea/
# IntelliJ
*/out/
# mpeltonen/sbt-idea plugin
*/.idea_modules/
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
